---
layout: default
background: maroon # This overrides the overscroll color
---

<div>

  {% include banner.html %}

  <ul class="list-style-none p0 m0">
    {% for specimen in site.specimens %}
      {% if specimen.font != false %}
      <li id="{{ specimen.slug | slice: 3, 500 }}" itemscope>

{% comment %}
<pre><code>Specimen layout
Use: {{ specimen.font }}
Path: {{ specimen.font | split: ' ' | join: '' | downcase }}
author: {{ specimen.author }}
author_data: {{ site.data.authors[specimen.author].name }}
</code></pre>
{% endcomment %}

          {% comment %}
          <header>
            <h1 itemprop="name headline">{{ specimen.title | escape }}</h1>
            <p><a href="#{{ specimen.slug }}"><time datetime="{{ specimen.date | date_to_xmlschema }}" itemprop="datePublished">{{ specimen.date | date: "%b %-d, %Y" }}</time></a></p>
          </header>
          {% endcomment %}

          <!-- Temp approach -->
          <div style="font-family: '{{ specimen.font }}', sans-serif;">

            <div class="clearfix" itemprop="articleBody">
              {{ specimen.content }}
            </div>

            <!-- Include graphic designer details here or in the footer? General credits might be less intrusive -->
            {% comment %}
            {% if specimen.author and site.data.authors[specimen.author] %}
            <p>Specimen designed by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ site.data.authors[specimen.author].name }}</span></span></p>
            {% endif %}
            {% endcomment %}

          </div>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  {% include footer.html %}


  {% comment %}
  This takes the font family name and combines it into a single string, to complete the Google Fonts Early Access URL.
  It’s fairly specific to current conditions, and perhaps we should maintain a master list this is matched against
  instead. It might also be possible to get it from the API a different way. This works as a fallback for now: it
  illustrates that the template should take care of getting the font from Early Access so contributors don’t.

  If this is bad—if it’s important they should be doing it manually to have them working with Early Access—then there
  should be a clear example template to follow.
  {% endcomment %}
  {% for specimen in site.specimens %}
  {% if specimen.font and specimen.font_local != true %}
    <link href="http://fonts.googleapis.com/earlyaccess/{{ specimen.font | split: ' ' | join: '' | downcase }}.css" rel="stylesheet" async />
  {% endif %}
  {% endfor %}

</div>
