---
layout: default
---

<div>

  <div class="clearfix p2 md-py4">
    <div class="max-width-4 mx-auto">
      <div class="flex mxn1">
        <div class="col-6 px1">{% comment %}Will probably need to make both headers in one h1 and hide one language.{% endcomment %}
          <h2 class="h4 sm-h2 md-h1">Making the web more beautiful, fast, and open through great typography</h2>
          <p  class="h5 sm-h3 md-h3">We believe the best way to bring personality and performance to websites and products is through great design and technology. Our goal is to make that process simple, by offering an intuitive and robust directory of open source designer web fonts. By using our extensive catalog, you can share and integrate typography into any design project seamlessly—no matter where you are in the world.</p>
        </div>
        <div class="col-6 px1">
          <h1 class="h4 sm-h2 md-h1">偉大なタイポグラフィを介してウェブをより美しく高速で、オープン作ります</h1>
          <p  class="h5 sm-h3 md-h3">我々は、Webサイトや製品に個性と性能をもたらすための最善の方法は、優れたデザインと技術を通じてであると考えています。私たちの目標は、オープンソースのデザイナーのWebフォントの直感的かつ堅牢なディレクトリを提供することによって、そのプロセスを簡単にすることです。豊富なカタログを使用することで、あなたが共有し、あなたが世界のどこにいるかシームレス-関係なく、任意の設計プロジェクトにタイポグラフィを統合することはできません。</p>
        </div>
      </div>
    </div>
  </div>

  <ul class="list-style-none m0">
    {% for specimen in site.specimens %}
      <li id="{{ specimen.slug }}" itemscope itemtype="http://schema.org/BlogPosting">

{% comment %}
<pre><code>Specimen layout
Use: {{ specimen.font }}
Path: {{ specimen.font | split: ' ' | join: '' | downcase }}
author: {{ specimen.author }}
author_data: {{ site.data.authors[specimen.author].name }}
</code></pre>
{% endcomment %}

          {% comment %}
          <header>
            <h1 itemprop="name headline">{{ specimen.title | escape }}</h1>
            <p><a href="#{{ specimen.slug }}"><time datetime="{{ specimen.date | date_to_xmlschema }}" itemprop="datePublished">{{ specimen.date | date: "%b %-d, %Y" }}</time></a></p>
          </header>
          {% endcomment %}

          <!-- Temp approach -->
          <div style="font-family: '{{ specimen.font }}', sans-serif;">

            <div class="clearfix" itemprop="articleBody">
              {{ specimen.content }}
            </div>

            <!-- Include graphic designer details here or in the footer? General credits might be less intrusive -->
            {% comment %}
            {% if specimen.author and site.data.authors[specimen.author] %}
            <p>Specimen designed by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ site.data.authors[specimen.author].name }}</span></span></p>
            {% endif %}
            {% endcomment %}

          </div>
      </li>
    {% endfor %}
  </ul>

  <div class="clearfix bg-white p2 md-py4">
    <div class="mx-auto max-width-3">
      <div class="sm-flex">
        <div class="col-4">
          <p><a href="{{ "/feed.xml" | prepend: site.baseurl }}">About</a></p>
          <p><a href="{{ "/feed.xml" | prepend: site.baseurl }}">Contribute</a></p>
          <p><a href="https://twitter.com/googlefonts">@googlefonts on Twitter</a></p>
          <p><a href="https://github.com/googlefonts">@googlefonts on GitHub</a></p>
          <p>Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via <abbr class="caps">RSS</abbr></a></p>
        </div>
        <div class="col-8">
          <h3>About the project</h3>
          <p>偉大なタイポグラフィを介してウェブをより美しく高速で、オープン作ります</p>
          <p>我々は、Webサイトや製品に個性と性能をもたらすための最善の方法は、優れたデザインと技術を通じてであると考えています。私たちの目標は、オープンソースのデザイナーのWebフォントの直感的かつ堅牢なディレクトリを提供することによって、そのプロセスを簡単にすることです。豊富なカタログを使用することで、あなたが共有し、あなたが世界のどこにいるかシームレス-関係なく、任意の設計プロジェクトにタイポグラフィを統合することはできません。</p>
        </div>
      </div>
      <div class="sm-flex">


      </div>
    </div>
  </div>


  {% comment %}
  This takes the font family name and combines it into a single string, to complete the Google Fonts Early Access URL.
  It’s fairly specific to current conditions, and perhaps we should maintain a master list this is matched against
  instead. It might also be possible to get it from the API a different way. This works as a fallback for now: it
  illustrates that the template should take care of getting the font from Early Access so contributors don’t.

  If this is bad—if it’s important they should be doing it manually to have them working with Early Access—then there
  should be a clear example template to follow.
  {% endcomment %}
  {% for specimen in site.specimens %}
  {% if font and font_local != true %}
    <link href="http://fonts.googleapis.com/earlyaccess/{{ specimen.font | split: ' ' | join: '' | downcase }}.css" rel="stylesheet" async />
  {% endif %}
  {% endfor %}

</div>
