// Colors

.bg-gradient-black-red {
  background-image: linear-gradient(to bottom, rgba($red, 0) 25%, rgba($red, 1.0) 75%);
}

.bg-gradient-red-white {
  background-image: linear-gradient(to bottom, $red 0%, $white 100%);
}

.bg-gradient-darkred-red {
  background-image: linear-gradient(to bottom, mix($red, $navy, 75%) 0%, $red 100%);
}

.bg-gradient-fuchsia-white {
  background-image: linear-gradient(to bottom, $fuchsia 0%, $white 100%);
}

.bg-gradient-aqua-green {
  background-image: linear-gradient(to bottom, $aqua 75%, $green 100%);  
}


// Responsive colors

@media #{ $breakpoint-md } {
  .md-white { color: $white }
}

// SVG fill utility class
.fill-purple,
.fill-purple svg { fill: $purple; }

.fill-navy,
.fill-navy svg { fill: $navy; }

.fill-maroon,
.fill-maroon svg { fill: $maroon; }

.fill-blue,
.fill-blue svg { fill: $blue; }

.fill-olive,
.fill-olive svg { fill: $olive; }

.fill-fuchsia,
.fill-fuchsia svg { fill: $fuchsia; }

.fill-red,
.fill-red svg { fill: $red; }

.fill-yellow,
.fill-yellow svg { fill: $yellow; }

.fill-green,
.fill-green svg { fill: $green; }

.fill-black,
.fill-black svg { fill: $black; }

.fill-aqua,
.fill-aqua svg { fill: $aqua; }

// Selection colours
// ::selection must be declared individually
.selection-white {
  @each $prefix in "::-moz-selection", "::selection" {
    #{$prefix} {
      background: $navy;
      color: $aqua;
      opacity: 1.0;
    }
  }
}
