// Colors

.bg-gradient-black-red {
  background-image: linear-gradient(to bottom, $black 75%, $red 95%);
}

.bg-gradient-red-white {
  background-image: linear-gradient(to bottom, $red 0%, $white 100%);
}

.bg-gradient-darkred-red {
  background-image: linear-gradient(to bottom, mix($red, $navy, 75%) 0%, $red 100%);
}

.bg-gradient-fuchsia-white {
  background-image: linear-gradient(to bottom, $fuchsia 0%, $white 100%);
}


// Responsive colors

@media #{ $breakpoint-md } {
  .md-white { color: $white }
}

.fill-navy,
.fill-navy svg { fill: $navy; }
