// Drop shadow
//
// Styleguide: module.dropshadow
.ds-bookcover {
  box-shadow: 3px  3px 0 3px darken($navy, 7.5%),
              3px -1px 0 3px $navy,
             -3px  3px 0 3px darken($navy, 7.5%),
             -3px -1px 0 3px $navy,
              0 0 10px rgba(0, 0, 0, 0.25);
}

.ds-page-right {
  box-shadow: inset -2px -2px 20px $darken-1,
              inset 0 -2px 0 2px $darken-1,
              inset 0 -1px 0 1px $darken-2;
  @media #{ breakpoint-sm } {
    border-left: 1px solid $darken-1;
    box-shadow: inset -2px -2px 20px $darken-1,
                inset -2px 0 0 2px $darken-1,
                inset -1px 0 0 1px $darken-2;
  }
}

.ds-page-left {
  border-bottom: 1px solid $darken-1;
  box-shadow: inset -2px -2px 20px $darken-1,
              inset 0 -2px 0 -2px $darken-1,
              inset 0 -1px 0 -1px $darken-2;

  @media #{ breakpoint-sm } {
    border-bottom: 0;
    box-shadow: inset -2px -2px 20px $darken-1,
                inset -2px 0 0 -2px $darken-1,
                inset -1px 0 0 -1px $darken-2;
  }
}
