---
font: sawarabi
font_local: true
---

<div class="bg-black white bg-gradient-black-red p2 py4">
  <img src="/media/illustration-sawarabi-cloud.svg" alt="Cloud icon from the Sawarabi typeface glyph set." />

  {% include illustration-sawarabi-circle-1.html fill="red" %}
  {% include illustration-sawarabi-circle-3.html fill="red" %}

  <div class="clearfix wf-sawarabimincho" id="sawarabimincho">
    <div class="mx-auto max-width-3">
      <p class="h1 line-height-4">どうやらアトモスフェアの高い位置まで到達したようだった。空は真っ暗で、星の瞬きもなくなっていた。丘の上では彼方に広がる水平線が同じ高さに見えるのと同じ錯覚によって、眼下に真っ暗な雲が広がり、車は巨大な暗い空間の真ん中に浮いているように見えた。その空間の上半分は銀色にきらめいていた。</p>
      <div color="wf-sawarabimincho yellow">                </div>
    </div>
  </div>
  <div class="clearfix wf-sawarabigothic" id="sawarabigothic">
    <div class="mx-auto max-width-3">
      <p class="h1 line-height-4">依然として速度を増しながら進むにつれて、夜と日中の切り替わりが曖昧になり、一続きの灰色になった。空は深い青色で夕暮れ時のような明るい光で照らされている。急に現れる太陽はきらめく円弧の形をした光の筋となった。月はおぼろげに揺らぐ帯となり、星は見えなかった。ただ、時折青い空に明るく瞬く円が見えた。</p>
      <div color="wf-sawarabigothic yellow"></div>
    </div>
  </div>

</div>
<div class="clearfix bg-red pb4">
  {% include specimen-colophon.html font="sawarabimincho" %}
  {% include specimen-colophon.html font="sawarabigothic" %}
</div>
