<div class="clearfix p2 md-py4 bg-maroon relative border-bottom border-thin border-fuchsia"> {% comment %}bg-gradient-darkred-red{% endcomment %}
  <div class="mx-auto max-width-3 md-max-width-4">
    {% comment %}Early Access Japanese fonts from Google Fonts{% endcomment %}
    <h1 class="h0 white mb2 md-mb4 line-height-3" style="text-shadow: 0 0 1em rgba(0, 0, 0, 0.2)">
      <span class="font-weight-400 muted-dark">Google Fonts</span> {% comment %} Plural or not? {% endcomment %}
      <span class="font-weight-900">による早期アクセス日本語フォント</span>
    </h1>
  </div>

  {% assign columns = "4, 4, 4, 6, 6, 3, 3, 12" | split: ", " %}
  {% assign smTranslate = "ty3, ty0, ty0, ty0, ty0, ty0, ty0, ty0" | split: ", " %}

  <div class="mx-auto max-width-5 sm-absolute top-0 z2">
    <ul class="m0 p0 list-style-none flex flex-wrap translate-banner">
      {% for listing in site.data.fonts %}
        {% for slug in listing %}
          {% assign font = site.data.fonts[slug] %}
          {% if font.feature_nav %}
            <li class="col-6 sm-col-{{ columns[counter]] | default: columns[0] }} sm-{{ smTranslate[counter]] | default: smTranslate[0] }}">
              <!-- {% increment counter %} -->
              <div class="center p2 sm-p3 md-p4">
                {% comment %} TODO hash links should come from object key {% endcomment %}
                <a class="button-raised px3 py2 sm-px2 md-px3 h5 sm-h6 md-h5 relative left-align" href="#{{ slug }}">
                  <span>{{ font.name.ja }}</span>
                  {% if font.name.ja != font.name.en %}
                    <span lang="en" class="block muted">{{ font.name.en }}</span>
                  {% endif %}
                </a>
              </div>
            </li>

          {% endif %}

        {% endfor %}
      {% endfor %}
    </ul>
  </div>

  <hr class="block mx-auto max-width-4 col-12 border-none bg-white muted-dark pt1 rounded mt4" />

  <div class="mx-auto max-width-4 white line-height-4">
    <div class="flex mxn1 md-mxn2">
      <div class="col-6 px1 md-mx2 mb1">
        <h2 class="mb0 font-weight-600 h4 sm-h1 md-h1 yellow">偉大なタイポグラフィを介してウェブをより美しく高速で、オープン作ります</h2 >
      </div>
      <div class="col-6 px1 md-mx2">
        <h2 class="mb0 font-weight-600 h4 sm-h1 md-h1 line-height-3 muted-dark">Making the web more beautiful, fast, and open through great typography</h2>
      </div>
    </div>
    <div class="flex mxn1 md-mxn2">
      <div class="col-6 px1 md-mx2">
        <p class="h5 sm-h3 md-h3">我々は、Webサイトや製品に個性と性能をもたらすための最善の方法は、優れたデザインと技術を通じてであると考えています。</p>
        <p class="h5 sm-h3 md-h3">私たちの目標は、オープンソースのデザイナーのWebフォントの直感的かつ堅牢なディレクトリを提供することによって、そのプロセスを簡単にすることです。豊富なカタログを使用することで、あなたが共有し、あなたが世界のどこにいるかシームレス-関係なく、任意の設計プロジェクトにタイポグラフィを統合することはできません。</p>
      </div>
      <div class="col-6 px1 md-mx2 muted-dark">{% comment %}Will probably need to make both headers in one h1 and hide one language.{% endcomment %}
        <p class="h5 sm-h3 md-h3">We believe the best way to bring personality and performance to websites and products is through great design and&nbsp;technology.</p>
        <p class="h5 sm-h3 md-h3">Our goal is to make that process simple, by offering an intuitive and robust directory of open source designer web fonts. By using our extensive catalog, you can share and integrate typography into any design project seamlessly—no matter where you are in the&nbsp;world.</p>
      </div>
    </div>
  </div>
</div>
