{% comment %}
{% highlight css %}
@import url("http://fonts.googleapis.com/earlyaccess/{{ include.font | page.font }}.css")
{% endhighlight %}
{% endcomment %}

{% highlight html %}
<link href="http://fonts.googleapis.com/earlyaccess/{{ include.font | page.font }}.css" />
{% endhighlight %}

{% highlight css %}
.wf-{{ include.font | page.font }} {
  font-family: "{{ site.data.fonts[include.font].name.en | site.data.fonts[page.font].name.en }}", {{ site.data.fonts[include.font].fallback | site.data.fonts[page.font].fallback }};
}{% endhighlight %}
