<header class="clearfix" role="banner">
  <nav class="hide" role="navigation">
    <a href="{{ site.baseurl }}/">{{ site.title | escape }}</a>
    <ul class="list-style-none m0">
      {% for specimen in site.specimens %}
        <li><a href="{{ specimen.slug }}">{{ specimen.title }}</a></li>
      {% endfor %}
    </ul>
  </nav>

  <div class="max-width-4 mx-auto">
  <div class="flex mxn2">
  <div class="col-6 p2">{% comment %}Will probably need to make both headers in one h1 and hide one language.{% endcomment %}
    <h1 class="h1">Making the web more beautiful, fast, and open through great typography</h1>
    <p class="h3">We believe the best way to bring personality and performance to websites and products is through great design and technology. Our goal is to make that process simple, by offering an intuitive and robust directory of open source designer web fonts. By using our extensive catalog, you can share and integrate typography into any design project seamlessly—no matter where you are in the world.</p>
  </div>
  <div class="col-6 p2">
    <p class="h1">偉大なタイポグラフィを介してウェブをより美しく高速で、オープン作ります</p>
    <p class="h3">我々は、Webサイトや製品に個性と性能をもたらすための最善の方法は、優れたデザインと技術を通じてであると考えています。私たちの目標は、オープンソースのデザイナーのWebフォントの直感的かつ堅牢なディレクトリを提供することによって、そのプロセスを簡単にすることです。豊富なカタログを使用することで、あなたが共有し、あなたが世界のどこにいるかシームレス-関係なく、任意の設計プロジェクトにタイポグラフィを統合することはできません。</p>

  </div>
  </div>
  </div>

</header>
