<footer class="bg-blue">
  <h2>Authors</h2>
  {% if page.authors %}
    <ul class="list-style-none p0 m0">
      {% for author in page.authors %}
        <li><a href="{{ site.data.authors[author].url | default: '#' }}">{{ site.data.authors[author].name | escape }}</a></li>
      {% endfor %}
    </ul>
  {% elsif page.author %}
    <p>{{ site.data.authors[page.author].name | escape }}</p>
  {% endif %}

{% highlight css %}
@import url("http://fonts.googleapis.com/earlyaccess/{{ page.font }}.css")
{% endhighlight %}

{% highlight css %}
.example {
  font-family: "{{ site.data.fonts[page.font].name.en }}", {{ site.data.fonts[page.font].fallback }};
}{% endhighlight %}

</footer>
