// Base

body {
  background: #EEE;
  font-family: 'Noto Sans', 'Noto Sans Japanese', sans-serif;
}

.list-style-none,
.list-style-none > li {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Normalize font weight
// and font style
h1, h2, h3, h4, h5, h6,
b, strong {
  font-weight: normal;
}

i, em, address {
  font-style: normal;
}

// Accessibility utilities
.speak-none {
  speak: none;
}

.speak-normal {
  speak: normal;
}

// Writing Mode Language utilities
.writingmode-vertical {
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}
