// Base

body {
  background: $white;
  font-family: 'Noto Sans', 'Noto Sans Japanese', sans-serif;
  line-height: 1.5;
  font-size: $h5;
}

.list-style-none,
.list-style-none > li {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Normalize font weight
// and font style
h1, h2, h3, h4, h5, h6,
b, strong {
  font-weight: normal;
}

i, em, address, blockquote {
  font-style: normal;
}

blockquote {
  padding: 0;
  margin: 0;
}

abbr {
  text-decoration: none;
  border: none;
}

// Anchors
a {
  color: $blue;
  text-decoration: none;
  border-bottom: 1px solid;
  &:hover {
    color: darken($blue, 10%);
  }
  &:active {
    color: darken($blue, 20%);
  }
}

// Accessibility utilities
.speak-none {
  speak: none;
}

.speak-normal {
  speak: normal;
}

// Writing Mode Language utilities
.vertical {
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

.upright {
  // full-size-kana?
  -webkit-text-transform: full-width;
  text-transform: -webkit-full-width;
  text-transform: full-width;

  -webkit-text-orientation: upright;
  -moz-text-orientation: upright;
  -ms-text-orientation: upright;
  text-orientation: upright;
}

.icon {
  width: 16px;
  height: 16px;
  display: inline-block;
}

// Styles specific to the Hannari section
.h0-hannari {
  // Using vh instead of vw like normal
  // Doesn’t seem like min font size is being respected
  font-size: calc( 50px + (125 - 50) * ( (100vh - 400px) / ( 800 - 400) ));
}

.translate-hannari {
  @media #{ $breakpoint-md } {
    transform: translate(-50%, 50%);
  }
}

// Styles specific to the Kokoro section
.h0-kokoro {
  font-size: calc( 32px + (48 - 32) * ( (100vw - 400px) / ( 800 - 400) ));
}

// From Utility OpenType
.caps {
  text-transform: uppercase;
  -ms-font-feature-settings: "smcp", "c2sc";
  font-variant-caps: all-small-caps;
}

// Text shadows
.ts-label {
  text-shadow: 0 1px mix($white, $red, 50%),
               1px 1px 1px mix($white, $red, 25%),
              -1px 1px 1px mix($white, $red, 25%);
}

.bs-label {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
}
