// Default variables
$purple: rgb(90, 50, 120);
$navy: rgb(0, 90, 120);
// $maroon: rgb(220, 85, 120); // Mariko
$maroon: rgb(213, 58, 104); // Makes white-on-maroon More accessible
$blue: rgb(140, 150, 190);
$olive: rgb(130, 200, 180);
$fuchsia: rgb(250, 210, 210);
$red: rgb(240, 90, 90);
$yellow: rgb(250, 220, 115);
$black: #111;
$aqua: rgb(230, 245, 255);
// $green: rgb(80, 170, 20);
$green: mix($olive, $aqua, 75%);

$caps-letter-spacing: 0;

// Border thicknesses
$border-thin: thin;
$border-medium: medium;
$border-thick: thick;

// Default font families
$font-family-base: "Noto Sans Japanese", "Noto Sans", sans-serif;
$font-family-serif: "Noto Sans Japanese", "Noto Serif", Georgia, serif;
$font-monospace: "Noto Mono", "Source Code Pro", "Fira Mono", monospace, monospace;

// Custom breakpoints
// @custom-media --breakpoint-xs (max-width: 40em);
$breakpoint-xs: "(max-width: 40em)";
// @custom-media --breakpoint-sm-md (min-width: 40em) and (max-width: 52em);
$breakpoint-sm: "(min-width: 40em)";
$breakpoint-sm-md: "(min-width: 40em) and (max-width: 52em)";
// @custom-media --breakpoint-md-lg (min-width: 52em) and (max-width: 64em);
$breakpoint-md: "(min-width: 52em)";
$breakpoint-md-lg: "(min-width: 52em) and (max-width: 64em)";
// @custom-media --breakpoint-lg (min-width: 64em);
$breakpoint-lg: "(min-width: 64em)";

// Breakheights, for vertical Media Queries
$breakheight-xs: "(max-height: 40em)";

// Basscss type scale
$h6: 0.66rem;
$h5: 0.875rem;
$h4: 1rem;
$h3: 1.25rem;
$h2: 1.5rem;
$h1: 2rem;


// Dependencies
@import "../node_modules/normalize.css/normalize";
@import "../node_modules/basscss-sass/scss/basscss";

// Basscss Addons
@import "../node_modules/basscss-sass/scss/responsive-margin";
@import "../node_modules/basscss-sass/scss/responsive-padding";
// @import "../node_modules/basscss-sass/scss/forms";
// @import "../node_modules/basscss-sass/scss/btn";
// @import "../node_modules/basscss-sass/scss/btn-outline";
// @import "../node_modules/basscss-sass/scss/btn-primary";
@import "../node_modules/basscss-sass/scss/colors";
@import "../node_modules/basscss-sass/scss/background-colors";
@import "../node_modules/basscss-sass/scss/background-images";
@import "../node_modules/basscss-sass/scss/border-colors";
@import "../node_modules/basscss-sass/scss/darken";
@import "../node_modules/basscss-sass/scss/lighten";
// @import "../node_modules/basscss-sass/scss/input-range";
// @import "../node_modules/basscss-sass/scss/progress";
// @import "../node_modules/basscss-sass/scss/all";
// @import "../node_modules/basscss-sass/scss/media-object";
// @import "../node_modules/basscss-sass/scss/highlight";
// @import "../node_modules/basscss-sass/scss/highlight-dark";


// Import partials.
@import "base";
@import "layout";
@import "module/button";
@import "module/translate";
@import "module/animate";
@import "module/color";
@import "module/font";
@import "module/border";
@import "module/dropshadow";
@import "module/syntax-highlighting";
@import "state";
// @import "theme";
// @import "shame";
