<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ja" }}">

  {% include head.html %}

  <body class="bg-{{ page.background | default: "white" }} h5 line-height-4 font-family-base">

    {% if page.nav == true %}
      {% include header.html %}
    {% endif %}


    <main aria-label="Content" class="clearfix">
      {{ content }}
    </main>

    {% comment %}
    {% include footer.html %}
    {% endcomment %}

    <script src="{{ "/js/index.js" | prepend: site.baseurl }}"></script>
  </body>

</html>
