<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ja" }}">

  {% include head.html %}

  <body class="bg-{{ page.background | default: "white" }} h5 line-height-4 font-family-base">

    {% comment %}
    {% include header.html %}
    {% endcomment %}

    <main aria-label="Content">
      <div class="clearfix">
        {{ content }}
      </div>
    </main>

    {% comment %}
    {% include footer.html %}
    {% endcomment %}

    <script src="{{ "/js/index.js" | prepend: site.baseurl }}"></script>
  </body>

</html>
