<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ja" }}">

  {% include head.html %}

  <body class="bg-{{ page.background | default: "white" }} h5 line-height-4 font-family-base">

    {% if page.nav == true %}
      {% include header.html %}
    {% endif %}


    <main aria-label="Content" class="clearfix">
      {{ content }}
    </main>

    {% comment %}
    {% include footer.html %}
    {% endcomment %}

    <script src="{{ "/js/index.js" | prepend: site.baseurl }}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/mplus1p.css" media="all">
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css" media="all">
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/hannari.css" media="all">
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/kokoro.css" media="all">
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/sawarabimincho.css" media="all">
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/sawarabigothic.css" media="all">
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" media="all">
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/nikukyu.css" media="all">
    <link rel="stylesheet" href="{{ "/css/notosansmono.css" | prepend: site.baseurl }}" media="all">
  </body>
</html>
